.animation-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/scene.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  @include retina {
    background-image: url("../img/scene@2x.png");
  }

  @media (orientation: portrait) {
    background-image: url("../img/scene-mob.png");

    @include retina {
      background-image: url("../img/scene-mob@2x.png");
    }
  }
}
.anim-logo {
  animation: logo 1s ease forwards;
}
@keyframes logo {
  0% {
    transform: translateX(-20px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0px);
    opacity:1;
  }
}

.anim-footer {
  animation: 1s footer 100ms ease forwards;
}
@keyframes footer {
  from {
    transform: translateY(30px);
    opacity: 0.3;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.anim-nav {
  animation: 1s nav 150ms ease forwards;
}
@keyframes nav {
  to {
    opacity: 1;
  }
}

.fill-fon::after {
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 10000;
  transition: transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  animation-name: change;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes change {
  from {
    background-image: url("../../img/fon.png");
    background-position: bottom;
    height: 150%;
    transform: translateY(1000px);
    transform-origin: bottom;
  }
  to {
    //transform: translateY(100%);
    background-image: url("../../img/fon.png");
    background-position: top;
    height: 100%;
    transform: translateY(0px);
    transform-origin: top;
  }
}
.history-sliders-color-two {
  .page-header__menu{
    a:hover {
      color: $c-blue;
    }
  }
  .social-block__toggler{
    svg {
      color: $c-blue;
    }
    &:hover,
    .social-block--active & {
      color: $c-blue;
    }
    &:active:focus {
      color: $c-blue;
    }
  }
  .social-block__link{
    &:hover {
      color: $c-blue;
    }
  }
}
.history-sliders-color-three{
  .page-header__menu{
    a:hover {
      color: $c-light-blue;
    }
  }
  .social-block__toggler{
    svg {
      color: $c-light-blue;
    }
    &:hover,
    .social-block--active & {
      color: $c-light-blue;
    }
    &:active:focus {
      color: $c-light-blue;
    }
  }
  .social-block__link{
    &:hover {
      color: $c-light-blue;
    }
  }
}
.history-sliders-color-four{
  .page-header__menu{
    a:hover {
      color: $c-dark;
    }
  }
  .social-block__toggler{
    svg {
      color: $c-dark;
    }
    &:hover,
    .social-block--active & {
      color: $c-dark;
    }
    &:active:focus {
      color: $c-dark;
    }
  }
  .social-block__link{
    &:hover {
      color: $c-dark;
    }
  }
}
.airship {
  animation: airship 8s ease-out infinite;
  transform-origin: center;
  transform: rotateX(-20deg);
}
@keyframes airship {
  25% {
    transform: rotateX(20deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  75% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(-20deg);
  }
}
.back-winds {
  animation: back 8s linear infinite;
  transform: translateY(5px);
}
.front-winds {
  animation: front 8s linear infinite;
  transform: translateY(-5px);
}

@keyframes back {
  25% {
    transform:  translateY(-5px);
  }
  50% {
    transform:  translateY(5px);
  }
  75% {
    transform:  translateY(-5px);
  }
  100% {
    transform:  translateY(5px);
  }
}

@keyframes front {
  25% {
    transform:  translateY(5px);
  }
  50% {
    transform:  translateY(-5px);
  }
  75% {
    transform:  translateY(5px);
  }
  100% {
    transform:  translateY(-5px);
  }
}
#tail{
  line {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
  }
  line:nth-child(1) {
    animation: 200ms tail 50ms linear infinite;
  }
  line:nth-child(2) {
    animation: tail 200ms linear infinite;
  }
  line:nth-child(3) {
    animation: 200ms tail 70ms linear infinite;
  }

}
@keyframes tail {
  0% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 60%;
  }
}
