.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 15.5rem 0 10rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 155px 0 100px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 6rem 0 5.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 16vh 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 16vh 0 5vh;
  }
}
@keyframes titleSlow  {
  0% {
    opacity: 0;
    transform: translateY(108px);
    color: transparent;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    color: white;
  }
}
.slowly {
  height: 92px;
  position: absolute;
  margin-left: -24px;
  overflow: hidden;
}
.custom {
  height: 92px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: self-end;
  overflow: hidden;
}
.intro__title {
  margin: 0;
  text-transform: uppercase;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 0.906;
  letter-spacing: -0.04em;
  position: relative;
  overflow: hidden;
  color: transparent;

  @media (min-width: $stop-scaling) {
    //max-width: 990px;
    font-size: 120px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    max-width: 100%;
    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    font-size: 10rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 5rem;
  }
}

.intro__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 6.3rem;

  @media (min-width: $stop-scaling) {
    padding-left: 63px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    justify-content: flex-start;
    padding-left: 2.5rem;
  }
}

.intro__info {
  flex: none;
  width: 50rem;
  max-width: 50%;

  @media (min-width: $stop-scaling) {
    width: 500px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }
}

.intro__message {
  flex: none;
  width: 50.9rem;
  max-width: 50%;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.27;
  animation: text 1.5s ease-in-out;

  @media (min-width: $stop-scaling) {
    width: 509px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    width: 100%;
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 100%;
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  p {
    margin: 0;
  }

  svg {
    @media (min-width: $stop-scaling) {
      width: 16px;
      height: 16px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 1.1rem;
      height: 1.1rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}
@keyframes softAppearance {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.intro__label {
  margin: 0 0 1.6rem;
  max-width: 25rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  position: relative;
  span {
    top: -48px;
    position: absolute;
    animation: softAppearance 2s ease-out;
  }
  @media (min-width: $stop-scaling) {
    margin: 0 0 16px;
    width: 250px;
    font-size: 24px;
  }
}

@keyframes dateLazy  {
  0% {
    opacity: 0;
    transform: translateY(43px);
  }
  50% {
    opacity: 0;
    transform: translateY(43px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.intro__date {
  margin: 0 0 0 -0.5rem;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.04em;
  //padding-left: 28px;
  position: relative;
  overflow: hidden;
  //
  //span:nth-child(8) {
  //  left: 269px;
  //}
  //span:last-child {
  //  left: 290px;
  //}
  &--dash{
    margin: 0 32px;
    position: relative;
    z-index: -10000;
    animation: softAppearance 2.4s ease-in-out;
  }
  &--dash:before{
    display: block;
    position: absolute;
    top: 19px;
    left: -3px;
    content: " ";
    height: 6px;
    color: white;
    width: 27px;
    background-color: white;
  }
  &--separator{
    margin-left: 82px;
    margin-right: 9px;
    z-index: -10000;
    animation: softAppearance 2s cubic-bezier(.86,-0.56,.3,.67);
  }
  &--lazy {
    position: absolute;
    margin-left: -24px;
    z-index: -10000;
    animation: dateLazy 3s ease-in-out;
  }

  &--faster {
    position: absolute;
    z-index: -10000;
    animation: dateLazy 2s ease-in-out;
  }

  @media (min-width: $stop-scaling) {
    margin: 0 0 0 -5px;
    font-size: 48px;
  }
}
