.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (min-width: $tablet) {
    width: 700px;
    margin: 0 auto;
  }
  @media (min-width: 300px) and (max-width: $mobile) {
    width: 385px;
    margin: 0 auto;
  }

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  img {
    display: block;
  }
}
.suitcase {
  width: 38%;
  height: 25%;
  object-fit: contain;
  object-position: center;
  opacity: 0;
  transform: scale(0);
  animation: suitcase 1500ms linear forwards;
  @media (min-width: 300px) and (max-width: $mobile) {
    width: 45%;
  }
  @media (min-width: $laptop)  {
    width: 38%;
    height: 25%;
  }
  @media (min-width: $after-mobile)  {
    width: 50%;
    height: 25%;
  }
}
@keyframes suitcase {
  0% {
    transform: translateY(300px) scale(0.2);
  }
  80% {
    opacity: 1;
    transform: translateY(-15px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.leaf {
  position: absolute;
  z-index: -1000;
  opacity: 0;
}
.right-leaf {
  transform-origin: left bottom;
  transform: rotate(-1deg);
  animation: right-leaf 6s ease forwards;
  animation-delay: 1180ms;

  @media (min-width: $after-mobile)  {
    right: 24px;
    top: 9px;
  }
  @media (min-width: 300px) and (max-width: $mobile) {
    right: 28px;
    top: 9px;
    width: 35%;
  }
}
.left-leaf {
  transform-origin: right top;
  transform: rotate(-5deg);
  animation: left-leaf 6s ease forwards;
  animation-delay: 1180ms;
  @media (min-width: $after-mobile)  {
    left: 12px;
    top: 90px;
  }
  @media (min-width: 300px) and (max-width: $mobile) {
    left: 31px;
    top: 55px;
    width: 35%;
  }
}
.green-leaf {
  transform-origin: left bottom;
  transform: rotate(-1deg);
  animation: green-leaf 6s ease forwards;
  animation-delay: 1180ms;
  @media (min-width: $after-mobile)  {
    right: -23px;
    top: 132px;
  }
  @media (min-width: 300px) and (max-width: $mobile) {
    right: 37px;
    top: 79px;
    width: 35%;
  }
}
.flamingo {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  transform-origin: bottom;
  height: 298px;
  transform: rotate(-5deg);
  animation: flamingo 10s ease forwards;
  @media (min-width: $after-mobile)  {
    top: 63px;
    left: 130px;
    height: 80%;
  }
  @media (min-width: 300px) and (max-width: $mobile) {
    top: 34px;
    left: 93px;
    width: 35%;
    height: 85%;
  }
}
@keyframes flamingo  {
  0% {
    transform: translateY(250px) scale(0.2) rotate(-20deg);
  }
  20% {
    transform: translateY(-10px) rotate(-10deg);
    opacity: 1;
  }
  40% {
    transform: translateY(8px) rotate(-5deg);
    opacity: 1;
  }
  60% {
    transform: translateY(-8px) rotate(-8deg);
    opacity: 1;
  }
  80% {
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes green-leaf {
  0% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(17deg);

  }
  35% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(4deg);
    opacity: 1;
    transition-timing-function: ease-in;
  }
  65% {
    transform: rotate(-3deg);
    opacity: 1;
  }
  80% {
    transform: rotate(3deg);
    transition-timing-function: ease-in;
  }
  100% {
    transform: rotate(-1deg);
    opacity: 1;
    transition-timing-function: ease-out;
  }
}
@keyframes right-leaf {
  0% {
    transform: rotate(-15deg) scale(0.7);
  }
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-10deg) ;
  }
  45% {
    transform: rotate(10deg) scale(1);
    opacity: 1;
  }
  55% {
     transform: rotate(-6deg);
    opacity: 1;
  }
  70% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-1deg);
    opacity: 1;
  }
}
@keyframes left-leaf {
  0% {
    transform: rotate(15deg) scale(0.7);
  }
  15% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg) ;
  }
  45% {
    transform: rotate(-10deg) scale(1);
    opacity: 1;
  }
  55% {
    transform: rotate(8deg);
    opacity: 1;
  }
  70% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(-5deg);
    opacity: 1;
  }
}
.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}
@keyframes resultBtn {
  to {
    opacity: 1;
  }
}
@keyframes result-cyrcle {
  from {
    transform: translateX(30px) rotate(85deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;
  opacity: 0;
  animation: 1s resultBtn 500ms linear forwards;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;
    opacity: 0;
    animation: 1s result-cyrcle 500ms linear forwards;
    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
