.airship-to {
  transform: translate(14px, 46px) scale(0.1);
  //animation: 400ms right-window 2800ms linear forwards;
  animation: right-window 400ms linear forwards;
  #clouds-in-window {
    opacity: 0;
    transform: translateX(340px);
    //animation: 500ms cloud 3000ms linear;
    animation: cloud 2000ms linear;
  }
  #chair {
    opacity: 0;
    transform: translateX(-340px);
    animation: 1200ms fromLeft 300ms linear forwards;
  }
  #ski {
    opacity: 0;
    transform: translateX(-340px);
    animation: 1200ms fromLeft 700ms linear forwards;
  }
  #plant {
    opacity: 0;
    transform: translateX(-340px);
  }
  //position: absolute;
  //top: 250px;
  //left: 200px;
  //transform-origin: center;

  //path:nth-child(0){
  //  position: absolute;
  //  top: 0;
  //  right: 20px;
  //  transform: translate(30px, -70px) scale(10);
  //}
}
@keyframes plant {
  
}
@keyframes fromLeft {
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes cloud {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(-150px);
    opacity: 1;
  }
}
@keyframes right-window {
  from {
    transform: translate(22px, 75px) scale(0.1);
    transform-origin: center;
  }
  to {
    transform: translate(0px, 0px) scale(1);
    transform-origin: center right;
  }
}
