.airship-to {
  transform: translate(14px, 46px) scale(0.1);
  animation: 400ms right-window 2800ms linear forwards;
  //animation: right-window 400ms linear forwards;
  #clouds-in-window {
    opacity: 0;
    transform: translateX(340px);
    animation: 1500ms cloud 3600ms linear;
    //animation: cloud 2000ms linear;
  }
  #chair {
    opacity: 0;
    transform: translateX(-340px);
    animation: 1200ms fromLeft 3300ms linear forwards;
  }
  #ski {
    opacity: 0;
    transform: translateX(-340px);
    animation: 1200ms fromLeft 3700ms linear forwards;
  }
  #plant {
    opacity: 0;
    transform: translateX(-340px);
    animation: 2200ms plant 3850ms ease-in-out forwards;
  }
}
@keyframes plant {
  25% {
    opacity: 1;
    transform: translateX(0px) rotateY(-40deg);
    transform-origin: center bottom;
  }
  50% {
    opacity: 1;
    transform: translateX(0px) rotateY(40deg);
    transform-origin: center top;
  }
  75% {
    opacity: 1;
    transform: translateX(0px) rotateY(-30deg);
    transform-origin: center bottom;
  }
  85% {
    opacity: 1;
    transform: translateX(0px) rotateY(30deg);
    transform-origin: center top;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    transform-origin: center;
  }
}
@keyframes fromLeft {
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes cloud {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(-150px);
    opacity: 1;
  }
}
@keyframes right-window {
  from {
    transform: translate(22px, 75px) scale(0.1);
    transform-origin: center;
  }
  to {
    transform: translate(0px, 0px) scale(1);
    transform-origin: center right;
  }
}
